$primary_color: (normal:rgba(43,113,169,1), active:rgba(0,89,166,1), disable:rgba(43,113,169,0.5));
$success_color: (normal:rgba(68,157,68,1), active:rgba(0,156,0,1), disable:rgba(68,157,68,0.5));
$warning_color: (normal:rgba(240,173,78,1), active:rgba(241,141,0,1), disable:rgba(240,173,78,0.5));
$danger_color: (normal:rgba(212,63,98,1), active:rgba(214,7,0,1), disable:rgba(212,63,98,0.5));
$info_color: (normal:rgba(91,192,222,1), active:rgba(0,174,226,1), disable:rgba(91,192,222,0.5));


