@import "../../global/reset";
@import "../../global/color";

$btn_font_size: 0.8em;
$btn_border_width:1px;



.btn {
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border: 0;
  color: #FFFFFF;
  font-size: $btn_font_size;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  height: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.1rem;
  margin-top:  0.1rem;
  border: $btn_border_width;
  border-color: map_get($primary_color, active);
  transition: background-color 0.1s ease;
}

.btn-primary {
  background-color: map_get($primary_color, normal);
  height: 2rem;
  &:active {
    background-color: map_get($primary_color, active);
  }
  &:disabled {
    background-color: map_get($primary_color, disable);

  }
}

.btn-success {
  background-color: map_get($success_color, normal);
  height: 2rem;
  &:active {
    background-color: map_get($success_color, active);
  }
  &:disabled {
    background-color: map_get($success_color, disable);

  }
}

.btn-warning {
  background-color: map_get($warning_color, normal);
  height: 2rem;
  &:active {
    background-color: map_get($warning_color, active);
  }
  &:disabled {
    background-color: map_get($warning_color, disable);

  }
}

.btn-danger {
  background-color: map_get($danger_color, normal);
  height: 2rem;
  &:active {
    background-color: map_get($danger_color, active);
  }
  &:disabled {
    background-color: map_get($danger_color, disable);

  }
}

.btn-info {
  background-color: map_get($info_color, normal);
  height: 2rem;
  &:active {
    background-color: map_get($info_color, active);
  }
  &:disabled {
    background-color: map_get($info_color, disable);

  }
}
.btn-default {
  color: #000000;
  background-color: map_get($default_color, normal);
  height: 2rem;
  &:active {
    background-color: map_get($default_color, active);
  }
  &:disabled {
    color: #eeeeee;
    background-color: map_get($default_color, disable);

  }

}
.btn-link{
  border: none;
  color: map_get($primary_color, normal);
  background: #ffffff;
  &:active {
    color: map_get($primary_color, active);
    text-decoration: underline;
  }
  &:disabled {
    color: map_get($primary_color, disable);
  }
}

