@for $i from 1 through 5 {
  .m-l-#{$i} {
    margin-left: 0.1*$i+rem;
  }
  .m-r-#{$i} {
    margin-right: 0.1*$i+rem;
  }
  .m-t-#{$i} {
    margin-top: 0.1*$i+rem;
  }
  .m-b-#{$i} {
    margin-bottom: 0.1*$i+rem;
  }

  .p-l-#{$i} {
    padding-left: 0.1*$i+rem;
  }
  .p-r-#{$i} {
    padding-right: 0.1*$i+rem;
  }
  .p-t-#{$i} {
    padding-top: 0.1*$i+rem;
  }
  .p-b-#{$i} {
    padding-bottom: 0.1*$i+rem;
  }



  .full-#{$i} {
    width: 10%*$i;
  }

}

.inline-block {
  display: inline-block;
}

.block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
