@import "px2rem";
@for $i from 1 through 5 {
  .m-l-#{$i} {
    margin-left: px2em($i*10);
  }
  .m-r-#{$i} {
    margin-right: px2em($i*10);
  }
  .m-t-#{$i} {
    margin-top: px2em($i*10);
  }
  .m-b-#{$i} {
    margin-bottom: px2em($i*10);
  }
  .m-#{$i} {
    margin: px2em($i*10);
  }

  .p-l-#{$i} {
    padding-left: px2em($i*10);
    box-sizing: border-box;

  }
  .p-r-#{$i} {
    padding-right: px2em($i*10);
    box-sizing: border-box;

  }
  .p-t-#{$i} {
    padding-top: px2em($i*10);
    box-sizing: border-box;

  }
  .p-b-#{$i} {
    padding-bottom: px2em($i*10);
    box-sizing: border-box;

  }
  .p-#{$i} {
    padding: px2em($i*10);
    box-sizing: border-box;
  }

  .full-#{$i} {
    width: 10%*$i;
  }

}
.inline-block {
  display: inline-block;
}

.block {
  display: inline-block;
}

.t-c {
  text-align: center;
}

.t-l {
  text-align: left;
}

.t-r {
  text-align: right;
}
