@for $i from 0.1 through 0.5 {
  .m-l-#{$i*10} {
    margin-left: $i+rem;
  }
  .m-r-#{$i*10} {
    margin-right: $i+rem;
  }
  .m-t-#{$i*10} {
    margin-top: $i+rem;
  }
  .m-b-#{$i*10} {
    margin-bottom: $i+rem;
  }

  .p-l-#{$i*10} {
    padding-left: $i+rem;
  }
  .p-r-#{$i*10} {
    padding-right: $i+rem;
  }
  .p-t-#{$i*10} {
    padding-top: $i+rem;
  }
  .p-b-#{$i*10} {
    padding-bottom: $i+rem;
  }



  .full-#{$i} {
    width: 10%*$i;
  }

}

.inline-block {
  display: inline-block;
}

.block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
