html {
  font-size: 20px; }

body {
  font-size: 0.8rem;
  margin: 0px;
  line-height: 2rem; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.wid-1 {
  width: 10%; }

.hei-1 {
  height: 10%; }

.wid-2 {
  width: 20%; }

.hei-2 {
  height: 20%; }

.wid-3 {
  width: 30%; }

.hei-3 {
  height: 30%; }

.wid-4 {
  width: 40%; }

.hei-4 {
  height: 40%; }

.wid-5 {
  width: 50%; }

.hei-5 {
  height: 50%; }

.wid-6 {
  width: 60%; }

.hei-6 {
  height: 60%; }

.wid-7 {
  width: 70%; }

.hei-7 {
  height: 70%; }

.wid-8 {
  width: 80%; }

.hei-8 {
  height: 80%; }

.wid-9 {
  width: 90%; }

.hei-9 {
  height: 90%; }

.wid-10 {
  width: 100%; }

.hei-10 {
  height: 100%; }

html {
  font-size: 20px; }

body {
  font-size: 0.8rem;
  margin: 0px;
  line-height: 2rem; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.wid-1 {
  width: 10%; }

.hei-1 {
  height: 10%; }

.wid-2 {
  width: 20%; }

.hei-2 {
  height: 20%; }

.wid-3 {
  width: 30%; }

.hei-3 {
  height: 30%; }

.wid-4 {
  width: 40%; }

.hei-4 {
  height: 40%; }

.wid-5 {
  width: 50%; }

.hei-5 {
  height: 50%; }

.wid-6 {
  width: 60%; }

.hei-6 {
  height: 60%; }

.wid-7 {
  width: 70%; }

.hei-7 {
  height: 70%; }

.wid-8 {
  width: 80%; }

.hei-8 {
  height: 80%; }

.wid-9 {
  width: 90%; }

.hei-9 {
  height: 90%; }

.wid-10 {
  width: 100%; }

.hei-10 {
  height: 100%; }

.ipt {
  padding: 0px;
  text-align: center;
  border: 0px;
  border-bottom: 1px solid #eeeeee;
  outline: none;
  font-size: 0.8rem; }
  .ipt:read-only {
    height: 2rem;
    color: #aaaaaa; }

.ipt[type=text], .ipt[type=password], .ipt[type=number] {
  height: 2rem;
  width: 100%; }

.ipt[type=checkbox], .ipt[type=radio] {
  display: none; }

.ipt[type=checkbox] + label {
  line-height: 2rem;
  margin: 0.5rem;
  vertical-align: middle;
  background-color: #fafbfa;
  padding: 10px;
  border-radius: 2rem;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 1rem; }

.ipt[type=checkbox] + label:after {
  content: ' ';
  position: absolute;
  top: 0;
  -webkit-transition: box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0, 0, 0, 0.4); }

.ipt[type=checkbox] + label:before {
  content: ' ';
  position: absolute;
  background: white;
  z-index: 99;
  top: 0px;
  left: 0px;
  width: 1rem;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  height: 1rem;
  border-radius: 2rem;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.05), 0 0px 1px rgba(0, 0, 0, 0.3); }

.ipt[type=checkbox]:active + label:after {
  box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee; }

.ipt[type=checkbox] + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

.ipt[type=checkbox]:checked + label:before {
  content: ' ';
  position: absolute;
  left: 1rem;
  border-radius: 100px; }

.ipt[type=checkbox]:checked + label:after {
  content: ' ';
  font-size: 1.5em;
  position: absolute;
  background: #4cda60;
  box-shadow: 0 0 1px #4cda60; }

.ipt-primary:focus {
  border-bottom: 1px solid #0059a6; }

.ipt-success:focus {
  border-bottom: 1px solid #009c00; }

.ipt-info:focus {
  border-bottom: 1px solid #00aee2; }

.ipt-warning:focus {
  border-bottom: 1px solid #f18d00; }

.ipt-danger:focus {
  border-bottom: 1px solid #d60700; }

.ipt-error {
  height: 2rem;
  color: red;
  border-bottom: 1px solid red; }

.ipt-right {
  height: 2rem;
  color: green;
  border-bottom: 1px solid green; }

html {
  font-size: 20px; }

body {
  font-size: 0.8rem;
  margin: 0px;
  line-height: 2rem; }

.btn {
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border: 0;
  color: #FFFFFF;
  font-size: 0.8em;
  outline: none;
  width: 98%;
  margin: 1%; }

.btn-primary {
  background-color: #2b71a9;
  height: 2rem; }
  .btn-primary:active {
    background-color: #0059a6; }
  .btn-primary:disabled {
    background-color: rgba(43, 113, 169, 0.5); }

.btn-success {
  background-color: #449d44;
  height: 2rem; }
  .btn-success:active {
    background-color: #009c00; }
  .btn-success:disabled {
    background-color: rgba(68, 157, 68, 0.5); }

.btn-warning {
  background-color: #f0ad4e;
  height: 2rem; }
  .btn-warning:active {
    background-color: #f18d00; }
  .btn-warning:disabled {
    background-color: rgba(240, 173, 78, 0.5); }

.btn-danger {
  background-color: #d43f62;
  height: 2rem; }
  .btn-danger:active {
    background-color: #d60700; }
  .btn-danger:disabled {
    background-color: rgba(212, 63, 98, 0.5); }

.btn-info {
  background-color: #5bc0de;
  height: 2rem; }
  .btn-info:active {
    background-color: #00aee2; }
  .btn-info:disabled {
    background-color: rgba(91, 192, 222, 0.5); }

html {
  font-size: 20px; }

body {
  font-size: 0.8rem;
  margin: 0px;
  line-height: 2rem; }

.row, .col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: nowrap; }

.row-rev {
  flex-direction: row-reverse; }

.align-top {
  align-items: flex-start; }

.align-bottom {
  align-items: flex-end; }

.row-cell-1 {
  flex-grow: 1;
  text-align: center; }

.row-cell-2 {
  flex-grow: 2;
  text-align: center; }

.row-cell-3 {
  flex-grow: 3;
  text-align: center; }

.row-cell-4 {
  flex-grow: 4;
  text-align: center; }

.row-cell-5 {
  flex-grow: 5;
  text-align: center; }

.col {
  flex-direction: column;
  align-content: stretch; }

.col-cell-1 {
  flex-grow: 1;
  text-align: center;
  width: 100%; }

.col-cell-2 {
  flex-grow: 2;
  text-align: center;
  width: 100%; }

.col-cell-3 {
  flex-grow: 3;
  text-align: center;
  width: 100%; }

.col-cell-4 {
  flex-grow: 4;
  text-align: center;
  width: 100%; }

.col-cell-5 {
  flex-grow: 5;
  text-align: center;
  width: 100%; }

/*# sourceMappingURL=emui.css.map */
