@import "../../global/rem";
@import "../../global/color";

.text-primary {
  color: map_get($primary_color, normal);
}

.text-success {
  color: map_get($success_color, normal);

}

.text-warning {
  color: map_get($warning_color, normal);

}

.text-danger {
  color: map_get($danger_color, normal);
}

.text-info {
  color: map_get($info_color, normal);
}

.text-default {
  color: map_get($default_color,normal);
}
.text-bland{
  color: #ffffff;
}
