@import "../global/rem";

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.content-start {
  justify-content: flex-start;
}

.content-end {
  justify-content: flex-end;
}

.content-between {
  justify-content: space-between;
}

.content-around {
  justify-content: space-around;
}

.content-start {
  justify-content: flex-start;
}

.cell-rev {
  flex-direction: row-reverse;
}

.cell-start {
  align-items: flex-start;
}

.cell-end {
  align-items: flex-end;
}

.cell-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-stretch {
  align-self: stretch;
}

@for $i from 1 through 5 {
  .cell-#{$i} {
    flex-grow: $i;
    text-align: center;
  }
}

.col {
  @extend .row;
  flex-direction: column;
  align-content: stretch;
  width: 100%;
}

.cell-full {
  flex-basis: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.col-match{
  height:100%;
}
.cell-scroll-y {
  height: 100%;
  overflow-y: scroll;
}

.cell-scroll-x {
  width: 100%;
  overflow-x: scroll;
  white-space:nowrap;
}
.col-full{
  width: 100%;
  text-align: center;
}