@import "../global/rem";

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: nowrap;

}

.row-rev {
  flex-direction: row-reverse;
}

.row-start {
  align-items: flex-start;
}

.row-end {
  align-items: flex-end;
}


@for $i from 1 through 5 {
  .row-cell-#{$i} {
    flex-grow: $i;
    text-align: center;
  }
}

.col {
  @extend .row;
  flex-direction: column;
  align-content: stretch;

}

@for $i from 1 through 5 {
  .col-cell-#{$i} {
    flex-grow: $i;
    text-align: center;
    width: 100%;
  }
}


.cel-full{
  flex-basis: 100%;
}
